{
    "applications": {
        "_default": {
            "link": "kpt"
        },
        "kpt": {
            "applicationId": "YourApplicationId", 
            "masterKey": "YourMasterKey"
        }
    }
}
